.testing {
  width: percentage(5/7);
}
.secondtest {
  width: percentage(1/2);
}
.thirdtest {
  height: percentage(9/8);
}
.fourthtest {
  max-width: percentage(1/3);
}
.fivetest {
  height: percentage(1/4);
}
